:root {
	--toolbar-height: 40px;
	--toolbar-margin: 2px;
}

body {
	padding: 0;
	margin: 0;
	background-color: #666;
	color: #333;
	display: flex;
	align-items: center;
	flex-direction: column;
}
div {
	display: flex;
}
a {
	color: var(--colour);
	cursor: pointer;
	text-decoration: none;
}
#spacer {
	max-height: var(--toolbar-height);
	flex-grow: 1;
}
#toolbar {
	width: 800px;
	align-items: stretch;
}
#tweakform {
	flex-grow: 1;
	margin: 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}
#left {
	flex-direction: column;
	flex-grow: 8;
}
#container {
	margin-bottom: 90px;
	z-index: 1;
}
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 12px 0;
	background-color: #333;
	color: #999;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
select,
input {
	min-height: calc(var(--toolbar-height) + 2* var(--toolbar-margin));
	margin: var(--toolbar-margin);
	padding: 8px;
	flex-grow: 1;

	border: none;
	border-bottom: 4px solid #333;
	border-right: 2px solid #999;

	/* Browsers have different default form fonts */
	font-size: 16px;
	font-family: Arial;
	color: #333;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* Remove the stupid outer glow in Webkit */
select:focus,
input:focus {
	outline: none;
}
option {
	color: var(--colour);
	font-size: 24;
}
option:checked {
	color: #333;
	background-color: var(--colour);
}
input::selection {
	background-color: var(--colour);
	color: white;
}
input[type=text] {
	flex-grow: 3;
}
input[type=color] {
	padding: 0 !important;
	max-width: var(--toolbar-height);
}
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 8 4;
}
input[type=range] {
	padding: 0 !important;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: var(--toolbar-height);
	width: 20px;
	background: var(--colour);
	border: 1px solid #777;
	cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	-moz-appearance: none;
	height: var(--toolbar-height);
	width: 20px;
	background: var(--colour);
	border: 1px solid #777;
	cursor: pointer;
}
input[type=range]::-ms-thumb {
	height: var(--toolbar-height);
	width: 20px;
	background: var(--colour);
	border: 1px solid #777;
	cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
	cursor: pointer;
}
input[type=range]::-moz-range-track {
	cursor: pointer;
}
input[type=range]::-ms-track {
	cursor: pointer;
}
